<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="kirill_coins_coins_listing_data_source" xsi:type="string">Kirill\Coins\Model\ResourceModel\Coins\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Kirill\Coins\Model\ResourceModel\Coins\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">kirill_coins_coins</argument>
            <argument name="resourceModel" xsi:type="string">Kirill\Coins\Model\ResourceModel\Coins</argument>
        </arguments>
    </virtualType>
</config>
